* {
   margin: 0;
   padding: 0;
}

body {
    background: url(bg.jpg) no-repeat;
    background-size: cover;
}

.box {
     width: 1200px;
     height: 640px;
     background: rgba(0, 0, 0, 0.2);
     margin: 0 auto;
     text-align: center;
     margin-top: 7%;
}

.box .over a {
     float:left;
     display: block;
     width: 260px;
     height: 90px;
     background: rgba(0, 0, 0, 0.2);
     font-size: 20px;
     color: #fff;
     text-decoration: none;
     padding-left: 30px;
     line-height: 90px;
}

.box .over a:hover {
     background: rgba(180, 102, 211, 0.2);
}

.over {
     width: 1200px;
     height: 90px;
     background: rgba(0, 0, 0, 0.2);
}

.down {
     float: left;
     width: 1200px;
     height: 540px;
     background-color: rgba(152, 233, 233, 0.2);
}

.down>div {
     float: left;
     width: 470px;
     height: 540px;
     background: rgba(0, 0, 0, 0.2);
     margin-left: 14px;
     margin-bottom: 14px;
}

.down .one {
      background-color: rgb(152, 233, 233, 0.2);
     width: 700px;
}

.down .photo {
      width: 470px;
      height: 540px;
}

.down .one h1 {
      color: white;
      font-size: 60px;
}

.down .one p {
      text-align: left;
      font-size: 32px;
      font-weight: 400;
      color: rgb(148, 241, 248);
}
</style>